/* ACF: Make embeds responsive - https://www.advancedcustomfields.com/resources/oembed/ */
.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
} 
.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Light YouTube Embeds by @labnol */
/* Web: http://labnol.org/?p=27941 */
.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    transition: 0.4s all;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;

}
.youtube-player:hover {
    -webkit-filter: brightness(75%);
}
.youtube-player .play:after {
    content: "\f16a"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 100px;
    color: #bb0000;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 1;
    cursor: pointer;
    transition: color 0.3s ease-in;
}
.youtube-player .play:hover:after {
    color: #ff0808; 
}